Package: jason-cli
Version: 3.3.0-241017
Priority:
Architecture: all
Essential:
Depends: openjdk-21-jdk | temurin-21-jdk
Pre-depends: 
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: Provides the Jason CLI, a command-line interface tool for Jason applications, for Debian and derivates.
